<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev Page</title>
    <link href="{{ url_for('static', path='/css/tailwindcss.css')}}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/png">
    <!--<meta http-equiv="refresh" content="{{reload_interval}}">-->
  </head>
  <body class="bg-slate-900">
    <main>
      <div class="grid grid-cols-2 xl:grid-cols-5 gap-2 px-1 py-1">

        
          <div class="flex w-full h-24 bg-yellow-500 rounded-xl">
            <div class="m-auto text-center">1</div>
          </div>
        

       
        <div class="w-full h-24 bg-yellow-500 rounded-xl">2</div>
        <div class="w-full h-24 bg-yellow-500 rounded-xl">3</div>
        <div class="w-full h-24 bg-yellow-500 rounded-xl">4</div>
        <div class="w-full h-24 bg-yellow-500 rounded-xl">5</div>
        <div class="w-full h-24 bg-yellow-500 rounded-xl">6</div>
        <div class="w-full h-24 bg-yellow-500 rounded-xl">7</div>
        <div class="w-full h-24 bg-yellow-500 rounded-xl">8</div>
        <div class="w-full h-24 bg-yellow-500 rounded-xl">9</div>
        <div class="w-full h-24 bg-yellow-500 rounded-xl">10</div>
        <div class="w-full h-24 bg-yellow-500 rounded-xl">11</div>
        <div class="w-full h-24 bg-yellow-500 rounded-xl">12</div>
    </div>
    </main>
  </body>
</html>