<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev Page</title>
    <link href="{{ url_for('static', path='/css/tailwindcss.css')}}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/png">
    <!--<meta http-equiv="refresh" content="{{reload_interval}}">-->
  </head>
  <body class="bg-slate-900">
    <main">
     Test
    </main>
  </body>
</html>