<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page_title}}</title>
    <link href="{{ url_for('static', path='/css/tailwindcss.css?v=')}}{{assets_version}}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/png">
    <meta http-equiv="refresh" content="2">
  </head>
  <body class="bg-slate-900">
    <main">
     
      <div class="flex flex-wrap justify-between gap-2 p-2 text-slate-200 bg-gray-800">
        <div>
          {{date}}
        </div>

        <div>
          {{page_title}}
        </div>

        <div>
          {{clock}}
        </div>
      </div>
      
      <div class="flex flex-wrap justify-between gap-2 p-2">

        <div class="flex justify-center items-center h-32 w-44 bg-transparent {{temp_color}} text-3xl ">
            {{temp}}
        </div>
    
        <div class="flex justify-center items-center h-32 w-44 bg-transparent text-slate-200 text-3xl">
          {{pressure}}
        </div>
    
        <div class="flex justify-center items-center h-32 w-44 bg-transparent text-slate-200 text-3xl">
            {{humidity}}
        </div>
    
        <div class="flex justify-center items-center h-32 w-44 bg-transparent text-slate-200 text-3xl">
            {{smoke}}
        </div>
    
        <div class="flex justify-center items-center h-32 w-44 bg-transparent text-slate-200 text-3xl">
            {{metals}}
        </div>
    
        <div class="flex justify-center items-center h-32 w-44 bg-transparent text-slate-200 text-3xl">
            {{dust}}
        </div>

        <div class="flex justify-center items-center h-32 w-44 bg-transparent text-slate-200 text-3xl">
          {{mikro}}
        </div>

        <div class="flex justify-center items-center h-32 w-44 bg-transparent text-slate-200 text-3xl">
          {{small}}
        </div>

        <div class="flex justify-center items-center h-32 w-44 bg-transparent text-slate-200 text-3xl">
          {{medium}}
        </div>

    
    </div>
    </main>
  </body>
</html>