<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page_title}}</title>
    <link href="{{ url_for('static', path='/css/tailwindcss.css?v=')}}{{assets_version}}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/png">
    <meta http-equiv="refresh" content="{{reload_interval}}">
  </head>
  <body class="bg-slate-900">
    <main">
     
      <div class="flex flex-wrap justify-between gap-2 p-2 text-slate-200 bg-gray-800 margin mb-5 text-xl">
        <div>
          {{date}}
        </div>

        <div class="font-bold">
          {{page_title}}
        </div>

        <div>
          {{clock}}
        </div>
      </div>
      
      <div class="sensors-container">

        <div class="{{temp_color}} sensor-content">
          <div class="sensor-title">Temperature</div>
          <div class="sensor-value">🌡️{{temp}}</div>
        </div>
    
        <div class="{{pressure_color}} sensor-content">
          <div class="sensor-title">Pressure</div>
          <div class="sensor-value"><span class="sensor-emoji">💨</span>{{pressure}}</div> 
        </div>
    
        <div class="{{humidity_color}} sensor-content">
          <div class="sensor-title">Humidity</div>
          <div class="sensor-value">💧{{humidity}}</div>
        </div>
    
        <div class="{{smoke_color}} sensor-content">
          <div class="sensor-title">Smoke</div>  
          <div class="sensor-value" id="smoke"><img width="32" height="32" src="{{ url_for('static', path='/images/smoke.png') }}">{{smoke}}</div>
        </div>
    
        <div class="{{metals_color}} sensor-content">
          <div class="sensor-title">Metals</div>   
          <div class="sensor-value" id="metals"><img width="32" height="32" src="{{ url_for('static', path='/images/metals.png') }}">{{metals}}</div>
        </div>
    
        <div class="{{dust_color}} sensor-content">
          <div class="sensor-title">Dust</div>     
          <div class="sensor-value" id="dust">
            <img width="28" height="28" src="{{ url_for('static', path='/images/dust.png') }}">{{dust}}
          </div>
        </div>

        <div class="{{mikro_color}} sensor-content">
          <div class="sensor-title">Mikro</div>  
          <div class="sensor-value">{{mikro}}</div>
        </div>

        <div class="{{small_color}} sensor-content">
          <div class="sensor-title">Small</div>  
          <div class="sensor-value">
            <div>{{small}}</div>
          </div>
        </div>

        <div class="{{medium_color}} sensor-content">
          <div class="sensor-title">Medium</div>  
          <div class="sensor-value">{{medium}}</div>
        </div>

    
    </div>
    </main>
  </body>
</html>